body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

input{
    margin: 40px 0 10px 0;
    font-size: 20px;
}

.primary{
    height: 35px;
    margin-left: 5px;
    background: linear-gradient(to bottom, #0bc408 0%,#09a206 100%);
    color: #fff;
    font-size: 16px;
    text-shadow: 0 1px 0 #757575;
    padding: 4px 0 5px 0;
    cursor: pointer;
    border-top: 1px solid #87c286;
    border-right: 1px solid #0e780c;
    border-left: 1px solid #0e780c;
    border-bottom: 1px solid #0e780c;
    box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
    width: 150px;
    border-radius: 2px;
}

li{
    list-style-type: none;
    margin-top:5px;
    max-width: 300px;
}

.delete-btn{
    margin-left: 20px;
    font-size: 16px;
    background: linear-gradient(to bottom, #ff001c 0%, #b30000 100%);
    color: white;
    border:1px solid #ff0b0b;

}

.edit-btn{
    margin-left: 20px;
    font-size: 16px;
    background: linear-gradient(to bottom, #136efa 0%, #38f1ea 100%);
    color: white;
    border:1px solid #0feaea;

}