.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;

    font-size:40px;
}
.select{
    display: flex;
    flex-direction: column;
    margin: 20px;
}